{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Portfólio{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Matheus Hack</h1>
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'lista_projetos' %}">Projetos</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2025 Matheus Hack. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>